@import "tailwindcss";

:root {
    --light: #fffefc;
    --dark: #1a1a1a;
    --brand: #3e4095;
}

@theme inline {
    --color-light: var(--light);
    --color-dark: var(--dark);
    --color-brand: var(--brand);
    --font-sans: var(--font-google-sans);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
